HTTP_PORT # Optional, defaults to 80
HTTPS_PORT # Optional, defaults to 443
SERVER_NAME=myApp.127.0.0.1.xip.io
PROXIED_APP_URL=http://app
SSL_CERT_FILENAME # The filename of the SSL certificate, defaults to 'cert.pem'.
SSL_CERT_KEY_FILENAME # The filename of the SSL certificate's Private key, defaults to 'key.pem'