---
vhosts:
  - server_name: my-first-app.com
    proxied_app_url: http://app1
    ssl_cert_filename: app1-cert.pem
    ssl_cert_key_filename: app1-key.pem
    http_port: # Optional, Defaults to 80
    https_port: # Optional, Defaults to 443
  
  - server_name: my-second-app.com
    proxied_app_url: http://app2
    ssl_cert_filename: app2-cert.pem
    ssl_cert_key_filename: app2-key.pem
    http_port: # Optional, Defaults to 80
    https_port: # Optional, Defaults to 443
    nginx_directives:
      client_max_body_size: 0